.cont {
  max-width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 500px; /* Altura fija de las filas */
  gap: 20px;
}
.cont > * {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;
  background-color: rgb(255, 255, 255);
}
.contGrid {
  transition: transform 0.3s ease;
  -webkit-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
}
.contGrid:hover {
  
  transform: scale(1.05);
}
.contGrid img {
  width: 230px;
  height: 300px;

  object-fit: contain;
}
.contGrid P {
  margin: 0;
  text-align: center;
}
.productTop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.productName h4 {
  margin: 0;
  margin-bottom: 15px;
}
.productName h3 {
  height: 36px;
  overflow: hidden;
  margin: 0;
  margin-bottom: 15px;
  font-size: 15px;
  width: 230px;
}
.pages {
  height: 40px;
  width: 100%;
}

.productBot {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.priceBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 200px;
  height: 100%;
}
.price {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contUls {
  background-color: white;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: end;
  align-items: start;
  -webkit-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
}
.select1 {
  margin-top: 10px;
  position: relative;
}
.select1 div {
  width: 100px;
  height: 100px;
}

.select1 button {
  width: 200px;
  background-color: white;
  border: solid #00000065 1px;
  padding: 5px;
  height: 35px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5px;
}
.select1 button div {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #00000086;
  transition: 0.3s;
}
.contGrid {
  max-width: 1200px;
}
.select1 > div {
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: black;
  top: 37px;
  z-index: 20;
}
.select1 > .off {
  display: none;
}

.contGrid-enter {
  opacity: 0;
}

.contGrid-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.contGrid-exit {
  opacity: 1;
}

.contGrid-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
